@charset "utf-8";
@import url('https://fonts.googleapis.com/css2? family= Saira:ital,wght@0,400;0,600;1,100 & display=swap');
*
{	padding: 0;
	margin: 0;
}
body
{	background-image: linear-gradient(#E67977, #6068E6);
	font-family:'Saira', sans-serif;
	}
main
{	display: flex;
	flex-direction: column;
    align-items: center;
}
nav
{	display: flex;
	flex-direction: row;
    justify-content: center;
    align-items: center;
	width: 100%;
	height: 0;
	padding: 0 30px;
	position: fixed;
}

nav ul
{	list-style: none;}

nav ul li
{	display: inline;
	font-size: 2em;
	margin: 0 100px;}


.section1
{	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    box-sizing: content-box;
}

.principal

{	width: 50%;
  	box-shadow: 0 0 27px 0 rgba(0,0,0,0.5);
	height: 300px;
	margin:50px;
  	padding: 35px 30px 30px;
	border-radius: 5%;
	z-index: 1;
	background-color: #FFFFFF;
	}
	
	.batista
{	text-transform: uppercase;
	letter-spacing: 7px; 
	line-height: 1;
	font-weight: 400;
	margin: 60px auto 0;
	text-align:center;
	color:#6068E6;
	}

h1
{	font-size: 3.75rem;
	font-weight: 700;
	margin: 30px auto 0;
	text-align:center;
	color:#6068E6;
	}

.descripcion
{	margin: 30px 0 0;
	text-align:center;
	color:#6068E6;
	}

.section2
{	width: 957px;
	margin:400px;
	padding: 30px 21px 0 0;
	display: flex;
	box-sizing: content-box;
}

.experiencia
{	font-size: 3rem;
  	margin: 27px 100px 0 0;
  	padding: 0;
  	display: inline-block;
  	color:#FFFFFF;
  }
.expitems

{	line-height: 1.8;
 	margin: 27px 0px 0 0;
 	color:#FFFFFF}

.section3
{	padding: 0;
	box-sizing: content-box;
	margin: -300px 0px 200px 100px;

	}

.trabajoimg
{	margin: 64px 150px 0 auto;
	height: 100%;
}

.habilidades
{	font-size: 1.5rem;
	color:#FFFFFF}

.habitems
{	line-height: 1.8;
	color:#FFFFFF}

.section4
{	width: 942px;
  	height: 741px;
  	box-sizing: content-box;
  	display: flex;
    flex-direction: row;
    margin: 200px
  	}

.lauimg{
	margin: 0 100px 0 0;
	box-shadow: 0 0 27px 0 rgba(0,0,0,0.5);}
}

.est
{	width: 464px;
	height: auto;
	margin:0px auto 0px -200px;
	}

.estudios
{	font-size: 3rem;
	margin: 29px 10px 0 0;
	color:#FFFFFF}

.estitems
{	line-height: 1.8;
	margin: 5px 10px 0 0;
	color:#FFFFFF
}

.cursos
{	line-height: 1.8;
	font-size: 1.5rem;
	margin: 25px 10px 0 0;
	color:#FFFFFF}

.curitems
{	line-height: 1.8;
	color:#FFFFFF}

.section5
{	height: 207px;
	display: flex;
    align-items: center;
    margin: 200px
	}

.c1
{	width: 200px;
  	box-shadow: 0 0 27px 0 rgba(0,0,0,0.5);
	height: 170px;
  	margin: 149px 30px 60px 30px;
	padding: 35px 30px 30px;
	border-radius: 10%;
	z-index: 10;
	}

.locaimg
{	margin: 0 auto;
	display: flex;
 	align-items: center;
}

.localidad
{	text-transform: uppercase;
  	font-weight: 700;
  	margin: 8px 1px 0;
	text-align:center;
	color: #FFFFFF}

.loc
{	margin:1px 1px 0 2px;
	text-align:center;
	color: #FFFFFF}

.c2
{	width: 200px;
  	box-shadow: 0 0 27px 0 rgba(0,0,0,0.5);
	height: 170px;
  	margin: 149px 30px 60px 30px;
	padding: 35px 30px 30px;
	border-radius: 10%;
	z-index: 20;
	}
.celimg
{	margin: 0 auto;
	display: flex;
 	align-items: center;
}

.celular
 {	text-transform: uppercase;
  	font-weight: 700;
	margin: 12px 1px 0;
	text-align:center;
	color: #FFFFFF}

.numero
{	margin: 10px 1px 0 2px;
	text-align:center;
	color: #FFFFFF}

.c3
{	width: 200px;
  	box-shadow: 0 0 27px 0 rgba(0,0,0,0.5);
	height: 170px;
  	margin: 149px 30px 60px 30px;
	padding: 35px 30px 30px;
	border-radius: 10%;
	z-index: 30;
	}


.emailimg
 {	margin: 0 auto;
 	display: flex;
 	align-items: center;
}

.email
{	text-transform: uppercase;
  	font-weight: 700;
	margin: 8px 1px 0;
	text-align:center;
	color: #FFFFFF}

.correo
{	margin: 10px -10px;
	text-align:center;
	color: #FFFFFF}

.footer
{	background-color: #A0F5F1;
	text-align: center;
	padding: 25px ;
}

@media screen and (max-width: 600px){
	body 
		{display: flex;
    	flex-direction: column;
   	 	flex-wrap: nowrap;
   		align-items: flex-start;}
    main
    	{align-items: center;}

	.section2 
		{display: flex;
  	  	flex-direction: column;}

  	.trabajoimg
  		{margin: 64px 400px 0 auto}
  	.habilidades
  		{margin: 0px 600px 0 83px}
  	.section4 
  		{display: flex;
  	  	flex-direction: column;}}